
Winter Project/Library/Artifacts/6a/6adf140b767a0216ed97a4657a9f0903
*.hash
Winter Project/Library/Artifacts/6a/6adf140b767a0216ed97a4657a9f0903
Winter Project/Library/Artifacts/6a/6adf140b767a0216ed97a4657a9f0903
Winter Project/Temp/Assembly-CSharp.dll.hash
Winter Project/Temp/__Backupscenes/0.backup
Winter Project/Logs/shadercompiler-UnityShaderCompiler.exe9.log
Winter Project/Logs/shadercompiler-UnityShaderCompiler.exe8.log
*.log
Winter Project/Logs/shadercompiler-UnityShaderCompiler.exe10.log
Winter Project/Temp/workerlic
Winter Project/Temp/CompilationLog.txt
Winter Project/Library/EditorInstance.json
*.txt
Winter Project/Library/EditorInstance.json
Winter Project/Assets/Scenes/Menu/UICardDeck.unity.meta
Winter Project/Assets/Scenes/Menu/UICardDeck.unity
Winter Project/Library/Artifacts/8b/8b0e44b6e5c7b101d9e10ff6565b8667
